

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tanmirt</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body>
    <div class="title-container">
    {% if user.is_authenticated %}
    <h1 class="title">{{user}} ,welcome to tanmirt </h1>
    {% else %}
    <h1 class="title">welcome to tanmirt </h1>
    {% endif %}
    </div>
    
    {% if user.is_authenticated %}
    <div class="logout-container">
    <a href="{% url 'logout' %}" class="login-button"> logout</a> <br>
    </div>

    <div class="poston-container">
        <a href="{% url 'myposts' %}" class="poston"> post on Tanmirt!</a>
    </div>
    {% else %}
    <div class="logout-container">
    <a href="{% url 'register' %}" class="login-button"> register</a> <br>
    </div>
    <div class="logout-container">
    <a href="{% url 'login' %}" class="login-button"> login</a> <br>
    </div>
    {% endif %}

    <form id="positionForm" method="post">
        {% csrf_token %}
        <input type="hidden" id="id_latitude" name="latitude">
        <input type="hidden" id="id_longitude" name="longitude">
        <button type="button" onclick="getLocation()">Get Location</button>
    </form>

    

    <h1>Items</h1>
    <form action="" method="GET" class="search-form">
    
        <input type="text" placeholder="search on tanmirt" name="q" class="search-bar">
    </form>

    <div class="posts">
        {% for post in posts %}
        <div class="post">
        <img src="{{post.image.url}}" alt="{{post.title}}" class="image">
        <a href="{% url 'item' post.id %}" class="postitle"><strong>{{post.title}}</strong></a>
        <p>{{post.description}}</p>
        <p><strong>Posted by:</strong> {{post.user.username}}</p>
        <p><strong>Date:</strong>{{post.date}}</p>
        <strong>{{post.lost_or_found}}</strong>
        <hr/>
        </div>

        {% endfor %}

    </div>

    
    <script src="{% static 'js/location.jsx'%}"></script>
</body>
</html>