

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tanmirt</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
</head>
<body>
    <div class="title-container">
    {% if user.is_authenticated %}
    <h1 class="title">{{user}} ,welcome to tanmirt </h1>
    {% else %}
    <h1 class="title">welcome to tanmirt </h1>
    {% endif %}
    </div>
    
    {% if user.is_authenticated %}
    <div class="logout-container">
    <a href="{% url 'logout' %}" class="login-button"> logout</a> <br>
    </div>

    <div class="poston-container">
        <a href="{% url 'myposts' %}" class="poston"> post on Tanmirt!</a>
    </div>
    {% else %}
    <div class="logout-container">
    <a href="{% url 'register' %}" class="login-button"> register</a> <br>
    </div>
    <div class="logout-container">
    <a href="{% url 'login' %}" class="login-button"> login</a> <br>
    </div>
    {% endif %}

    {% if user.is_authenticated %}
    <a href="{% url 'profile' user.id%}">profile</a>

    <a href="{% url 'inbox'%}">Inbox</a>
    {% endif  %}

    


    <h1>Items</h1>

    <form action="" method="GET" class="search-form">

        
        <label for="distanceRange">Filter by distance (km):</label>
        <input type="range" id="distanceRange" name="distanceRange" min="0" max="100" value="{{ distance_range }}" oninput="document.getElementById('distanceLabel').innerText = this.value + ' km'">
        <span id="distanceLabel">{{ distance_range }} km</span>
        
        <button type="submit">Filter</button>
    </form>
    
    <form action="" method="GET" class="search-form">
    
        <input type="text" placeholder="search on tanmirt" name="q" class="search-bar">
    </form>

    <div class="posts"  >
    {% for post, distance in post_distances %}
    <div class="post" >
    <img src="{{ post.image.url }}" alt="{{ post.title }}" class="image">
    <a href="{% url 'item' post.id %}" class="postitle"><strong>{{ post.title }}</strong></a>
    <p>{{ post.description }}</p>
    <p><strong>Posted by:</strong> {{ post.user.username }}</p>
    <p><strong>Date:</strong> {{ post.date }}</p>
    <strong>{{ post.lost_or_found }}</strong>
    {% if distance != "N/A" %}
    <p><strong>Distance:</strong> {{ distance }}</p>
    {% endif %}
    <hr/>
    </div>
    {% endfor %}

    </div>

    
    
</body>
</html>