{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="{% static 'css/inbox.css' %}">
</head>
<body>
    <div class="container">
        <h1>Inbox</h1>
        {% if user_pairs %}
            <ul class="messages-list">
                {% for pair, message in user_pairs.items %}
                    <li class="message-item">
                        {% if request.user == message.sender %}
                            <a class="message-link" href="{% url 'message' message.receiver.id %}">Between {{ message.sender.username }} and {{ message.receiver.username }}</a>: {{ message.body }} <br>
                        {% else %}
                            <a class="message-link" href="{% url 'message' message.sender.id %}">Between {{ message.sender.username }} and {{ message.receiver.username }}</a>: {{ message.body }} <br>
                        {% endif %}
                        <em class="message-date">Sent at: {{ message.date }}</em>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No messages found.</p>
        {% endif %}
    </div>
</body>
</html>




