{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inbox</title>
    <link rel="stylesheet" href="{% static 'css/inbox.css' %}">
    
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'assets/logowhite.png' %}" alt="Tanmirt Logo">
                    </a>
                </div>
                
                <h1 class="title">
                    {% if user.is_authenticated %}
                        Welcome to Tanmirt
                    {% else %}
                        Welcome to Tanmirt
                    {% endif %}
                </h1>
                <nav class="nav">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' user.id %}" class="nav-link">Profile</a>
                        <a href="{% url 'inbox' %}" class="nav-link">Inbox</a>
                        <a href="{% url 'notifications' %}" class="nav-link">Notifications</a>
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        <a href="{% url 'myposts' %}" class="nav-link nav-highlight">Post on Tanmirt!</a>
                    {% else %}
                        <a href="{% url 'register' %}" class="nav-link">Register</a>
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>
    
    <div class="container">
        <h1>Inbox</h1>
        {% if user_pairs %}
            <ul class="messages-list">
                {% for pair, message in user_pairs.items %}
                    <li class="message-item">
                        {% if request.user == message.sender %}
                            <a class="message-link" href="{% url 'message' message.receiver.id %}">Between {{ message.sender.username }} and {{ message.receiver.username }}</a>: {{ message.body }} <br>
                        {% else %}
                            <a class="message-link" href="{% url 'message' message.sender.id %}">Between {{ message.sender.username }} and {{ message.receiver.username }}</a>: {{ message.body }} <br>
                        {% endif %}
                        <em class="message-date">Sent at: {{ message.date }}</em>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No messages found.</p>
        {% endif %}
    </div>
</body>
</html>
