{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notifications</title>
    <link rel="stylesheet" href="{% static 'css/notifications.css' %}">
    
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header-content">
                <div class="logo">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'assets/logowhite.png' %}" alt="Tanmirt Logo">
                    </a>
                </div>
                
                <h1 class="title">
                    {% if user.is_authenticated %}
                        Welcome to Tanmirt
                    {% else %}
                        Welcome to Tanmirt
                    {% endif %}
                </h1>
                <nav class="nav">
                    {% if user.is_authenticated %}
                        <a href="{% url 'profile' user.id %}" class="nav-link">Profile</a>
                        <a href="{% url 'inbox' %}" class="nav-link">Inbox</a>
                        <a href="{% url 'notifications' %}" class="nav-link">Notifications</a>
                        <a href="{% url 'logout' %}" class="nav-link">Logout</a>
                        <a href="{% url 'myposts' %}" class="nav-link nav-highlight">Post on Tanmirt!</a>
                    {% else %}
                        <a href="{% url 'register' %}" class="nav-link">Register</a>
                        <a href="{% url 'login' %}" class="nav-link">Login</a>
                    {% endif %}
                </nav>
            </div>
        </div>
    </header>

    <h1>Notifications</h1>
    <div class="notifications-container">
        {% for notification in notifications %}
            <div class="notification">
                {{ notification|safe }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
